@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(98.5% 0 0);
    --foreground: oklch(0.2 0.02 50);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2 0.02 50);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2 0.02 50);
    --primary: oklch(60% 0.118 184.704);
    --primary-foreground: oklch(98.4% 0.003 247.858);
    --secondary: oklch(97% 0 0);
    --secondary-foreground: oklch(0.25 0.02 50);
    --muted: oklch(0.92 0.015 85);
    --muted-foreground: oklch(0.5 0.02 50);
    --accent: oklch(0.55 0.12 180);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.88 0.02 85);
    --input: oklch(0.92 0.015 85);
    --ring: oklch(0.55 0.12 180);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.98 0.01 150);
    --sidebar-foreground: oklch(0.31 0.06 150);
    --sidebar-primary: oklch(0.58 0.15 155);
    --sidebar-primary-foreground: oklch(0.98 0.01 150);
    --sidebar-accent: oklch(0.93 0.03 151);
    --sidebar-accent-foreground: oklch(0.31 0.06 150);
    --sidebar-border: oklch(0.9 0.02 150);
    --sidebar-ring: oklch(0.64 0.12 155);
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.22 0.03 154);
    --sidebar-foreground: oklch(0.95 0.02 150);
    --sidebar-primary: oklch(0.7 0.18 150);
    --sidebar-primary-foreground: oklch(0.2 0.03 155);
    --sidebar-accent: oklch(0.3 0.03 155);
    --sidebar-accent-foreground: oklch(0.95 0.02 150);
    --sidebar-border: oklch(0.34 0.03 155);
    --sidebar-ring: oklch(0.66 0.16 150);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif;
    @apply bg-background text-foreground overflow-x-hidden;
  }
}
